# Source tarballs
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar.lz
*.zip

# Binary package archives
*.t?z

# Signatures - these should be on the download list and downloaded when the
# 'download' function is run.
*.asc
*.sig
*.sign

